.searchContainer {
    position: relative;
  }
  
  .searchIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
  }
    