@import 'datatables.net-dt/css/jquery.dataTables.min.css';
.btn.disabled, .btn:disabled {
    opacity: .65;
    z-index: -234;
    position: relative;
}

.form-check-input {
    position: absolute;
    margin-left: 0;
    padding: 0;
    width: 20%;
    margin: 12px;
}
.swal2-container{
    z-index: 10000;
  }